---
import type { string } from "astro:schema";

interface Props {
	icon: string;
	text: string;
	className?: string[];
	[key: string]: any;
}

const { className, icon, text, ...rest } = Astro.props;
---

<span class="floating-card" class:list={className} {...rest}>
	<span class="card-emoji">{icon}</span>
	<span class="card-text">{text}</span>
</span>

<style>
	.floating-card {
		width: fit-content;
		background: var(--top-color);
		border-radius: 0.75rem;
		padding: 0.75rem 1rem;
		box-shadow: 0 8px 25px var(--shadow-color);
		display: flex;
		align-items: center;
		gap: var(--spacing-sm);
		color: var(--text-color);
		border: 1px solid var(--border-color);
	}

	.card-emoji {
		font-size: 1.2rem;
	}
</style>
