---
import Navbar from "@/components/molecules/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import { isAuthenticated } from "@/lib/auth";
import { getMyBussines } from "@/services/bussines";

const user = await isAuthenticated(Astro);
if (!user) return Astro.redirect("/auth/unauth");
const bussines = getMyBussines(Astro);
---

<Layout title="Mis negocios">
	<Navbar />
	<main>
		<header>
			<h1>Mis negocios</h1>

			<a href="/bussines/new">Crear nuevo negocio</a>
		</header>
		<p>
			Aquí puedes ver y administrar los negocios que posees o en los que
			eres administrador.
		</p>
	</main>
</Layout>

<style>
	main {
		padding: var(--spacing-lg);
	}
</style>
