---
interface Props {
	href: string;
	label: string;
	icon: any;
}

const { href, label, icon: Icon } = Astro.props;
---

<a class="nav-link" href={href}>
	{Icon && <Icon />}
	{label}
</a>

<style>
	.nav-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: var(--text-color);
		font-size: 0.75rem;
	}

	.nav-link svg {
		width: 32px;
		height: 32px;
		margin-bottom: 0.25rem;
	}
</style>
