---
import HamburguerMenuIcon from "@/assets/icons/hamburguer-menu.svg";
import CloseIcon from "@/assets/icons/x-icon.svg";
import Logo from "@/assets/icons/logo.svg";

interface NavLink {
	href: string;
	label: string;
}

const navLinks: NavLink[] = [
	{ href: "/", label: "Inicio" },
	{ href: "/profile", label: "Perfil" },
];
---

<nav>
	<div>
		<Logo width={48} height={48} />
		<h1 class="font-baloo">Pueblia</h1>
	</div>

	<input type="checkbox" name="menu-toggle" id="menu-toggle" />
	<label for="menu-toggle" x-data="{ open: false }" @click="open = !open">
		<template x-if="!open" x-transition>
			<HamburguerMenuIcon />
		</template>
		<template x-if="open" x-transition>
			<CloseIcon />
		</template>
	</label>

	<!-- Menu -->
	<ul>
		{
			navLinks.map((link) => (
				<li>
					<a class="nav-link" href={link.href}>
						{link.label}
					</a>
				</li>
			))
		}
	</ul>
</nav>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 1rem;
		background-color: var(--primary);
		color: var(--text-color);
	}

	nav img.logo {
		width: 40px;
		height: 40px;
	}

	nav div {
		display: flex;
		gap: 1rem;
		list-style: none;
		align-items: center;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: var(--primary);
		z-index: 1;
		opacity: 0;
		transform: translateY(-10px);
		transition:
			transform var(--transition-duration) ease-in-out,
			opacity var(--transition-duration) ease-in-out;
		pointer-events: none;

		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
			position: static;
			background-color: transparent;
			opacity: 1;
			transform: translateY(0);
			pointer-events: all;
			gap: 1rem;
		}
	}

	nav:has(input:checked) ul {
		opacity: 1;
		transform: translateY(0);
		pointer-events: all;
	}

	a.nav-link {
		display: block;
		padding: 1rem;
		color: var(--text-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: var(--secondary);
			background-color: var(--primary-dark);
		}
	}

	label[for="menu-toggle"] {
		cursor: pointer;

		@media (min-width: 768px) {
			display: none;
		}
	}

	input[type="checkbox"] {
		display: none;
	}

	label svg {
		fill: var(--text-color);
		width: 24px;
		aspect-ratio: 1;
	}
</style>
