---
import Layout from "@/layouts/Layout.astro";
import { isAuthenticated } from "@/lib/auth";

const authenticated = isAuthenticated(Astro);
if (authenticated) {
	return Astro.redirect("/home");
} else {
	return Astro.redirect("/auth/login");
}
---

<Layout title="Pueblia">
	<h1>Bienvenido a Pueblia</h1>
	<p>Esta es la página principal de la aplicación.</p>
	<slot />
</Layout>
