---
import Navbar from "@/components/molecules/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import { isAuthenticated } from "@/lib/auth";

const authenticated = isAuthenticated(Astro);
if (!authenticated) return Astro.redirect("/auth/login");
---

<Layout title="Pueblia">
	<Navbar />
	<section>
		<!-- Searchbar -->

		<!-- Categories Circle -->
	</section>
</Layout>

<style></style>
