---
import Navbar from "@/components/molecules/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import Searchbar from "@/components/molecules/Searchbar.astro";
import { isAuthenticated } from "@/lib/auth";
import CategoriesHeader from "@/components/molecules/CategoriesHeader.astro";
import { getCategories } from "@/services/categories";
import { getServices } from "@/services/services";

const categories = await getCategories();
const services = await getServices(); // For displaying offers
---

<Layout title="Pueblia">
	<Navbar />
	<header>
		<Searchbar />
		<CategoriesHeader categories={categories} />
	</header>

	<main>
		<!-- Offers Cards -->
	</main>
</Layout>

<style>
	header {
		padding: var(--spacing-lg);
	}
</style>
